body {
	font-size: 30px;
}

.heading {
	color: blue;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10px;
}

.nav {
	text-align: center;
}

.nav .nav-item {
	color: black;
}

.nav .nav-item:hover {
	color:green;
	text-decoration: underline;
}

.nav .red-item{
	color: red;
	text-decoration: none;
}

.desc {
	margin-top: 40px;
    line-height: 40px;
}
.desc:first-letter {
	font-weight: bold;
}

strong{
	color: green;
}

.list-odd .list-item:nth-child(odd){
	color: red;
}

table {
	border: 2px solid grey;
    text-align: center;
    color: white;
    padding: 2px;
}

td {
	border: 2px solid grey;
	padding: 1px;
}

table .row:nth-child(odd){
	background-color: tomato;
}

table .row:nth-child(even){
	background-color: black;
}